*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: "Oswald", sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(143, 0, 0);
}
.header h1, p{
    margin-block: 20px;
    text-align: center;
}
.main input[type="search"]{
    margin-block: 40px 20px;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    outline-width: 2px;
    outline-style: solid;
    outline-color: #8f0000;
}
.main input[type="search"]::placeholder{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.procurar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 0px 40px;
}
.procurar input[type="search"]:focus{
    border: none;
    outline-width: 2px;
    outline-style: solid;
    outline-color: #8f0000;
    font-family: "Montserrat", sans-serif;
}
.procurar button[type="submit"]{
    width: 100px;
    height: 35px;
    border-radius: 30px;
    border: none;
    transition: 0.2s;
    font-weight: bold;
    color: #8f0000;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}
.procurar button[type="submit"]:hover{
    background-color: #8f0000;
    border-color: #ffffff;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.pokemon-buscado{
    margin-top: 40px;
}
.pokemon-buscado li.pokemon{
    border-color: #8f0000;
    border: 4px solid;
    background-color: rgb(255, 255, 255);
    color: #8f0000;
}
.iniciais{
    text-align: center;
    margin-bottom: 40px;
    color: #8f0000;
    font-size: 1.5rem;
}
.pokedex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
}

ol.pokemons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    list-style: none;
}
.pokemon{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: rgb(0, 134, 7);
    background-color: rgb(227, 255, 185);
    border-radius: 30px;
    width: 240px;
}
.pokeid{
    text-align: right;
    opacity: 40%;
}
.nomes{
    font-size: 20px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.li-water{
    align-self: start;
}
.info img{
    max-width: 100px;
}
.info li{
    margin-bottom: 5px;
    list-style: none;
}
.pokemon.fire{
    background-color: rgb(253, 122, 89);
    color: #8f3400;
}
.pokemon.water{
    background-color: rgb(137, 255, 255);
    color: rgb(43, 135, 211);
}
@media (max-width:629px) {
    ol.pokemons{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        list-style: none;
    }
}
@media (max-width:512px) {
    ol.pokemons{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        list-style: none;
    }
}